{% load post_tags %}

<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<div class="sidebar sidebar-right">
				<div class="sidebar-wrap mt-5 mt-lg-0">
						<div class="sidebar-widget about mb-5 text-center p-3">
								<div class="about-author">
										<img src="{{ user.image.url }}" alt="" class="img-fluid">
								</div>
								<h4 class="mb-0 mt-4">{{ user.username }}</h4>
								<p>{{ user.first_name }} {{ user.last_name }}</p>
								<p>{{ user.role }}</p>
								<p>{{ user.about }}</p>
								<img src="images/liammason.png" alt="" class="img-fluid">
						</div>

						<div class="sidebar-widget category mb-5">
								<h4 class="text-center widget-title">Объявления по классам</h4>
								<ul class="list-unstyled">
										{% get_categories as categories %}
										{% for category in categories %}
												<li class="align-items-center d-flex justify-content-between">
														<a href="{% url 'posts:post_category_list' category_id=category.id %}">{{ category.get_type_display }}</a>
														<span>{{ category.post_set.count }}</span>
												</li>
										{% endfor %}
								</ul>
						</div>
				</div>
		</div>
</div>